$mainColorFirst: #ffefd5;
$mainColorSecond: #482f19;

.header, .main-title {
  height: 50px;
  border-bottom: 2px solid $mainColorSecond;
  background-color: $mainColorFirst;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $mainColorSecond;
  padding: 4px;

  p {
    font-size: 2em;
    font-family: "Comic Sans MS";
  }
}

.footer {
  display: none;
}

button {
  color: $mainColorSecond !important;
}

.MuiButton-contained, .MuiButton-outlined {
  border: 1px solid $mainColorSecond !important;
}

.MuiButton-contained {
  background-color: $mainColorSecond !important;
  color: $mainColorFirst !important;
}

.interface {
  button>svg {
    width: 40px;
    height: 40px;
  }

  button:first-child {
    margin: 0 10px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  background-color: $mainColorFirst;
  border: 2px solid $mainColorSecond;
  padding: 8px;
  color: $mainColorSecond;

  label {
    color: $mainColorSecond !important;
  }

  .feedback-input {
    margin: 15px 5px 0 0;
    width: 100%;
  }

  .modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 6px;
    }
  }
}