@media screen and (max-device-width: 400px) {
  .modal {
    width: 80%;
    border: 1px solid $mainColorSecond;
    padding: 4px;
    font-size: 24px;
  }

  .header {
    p {
      font-size: 24px;
    }
  }
}