@media screen and (max-device-width: 500px) {
  .modal {
    width: 90%;
    border: 1px solid #482f19;
    padding: 10px;
    h2 {
      font-size: 21px;
      font-family: "Comic Sans MS";
    }
    h3 {
      font-size: 15px;
    }
    .modal-subtitle {
      font-size: 20px;
    }
    .text-area>div {
      height: 200px;
      font-family: "Comic Sans MS";
    }
  }

  .header {
    display: none;
  }

  .footer {
    display: flex;
    width: 100%;
    border-top: 2px solid #482f19;
    background-color: $mainColorFirst;
    position: fixed;
    bottom: 0;
  }

  .interface {
    display: flex;
    justify-content: space-between;
    width: 100%;
    button {
      Text-Transform: Capitalize;
      display: flex;
      flex-direction: column;
      font-family: "Comic Sans MS";
      span {
        margin: 0;
      }
      svg {
        font-size: 2.3em;
        margin-bottom: -7px;
        width: 33px !important;
        height: 33px !important;
      }
    }
  }

  .main-title {
    padding: 5px 10px;
  }

  .admin-panel {
    position: absolute;
    bottom: 63px;
    z-index: 1000;
    background-color: #ffefd5;
    justify-content: center;
    border-top: 2px solid #482f19;
    display: flex;
    flex-wrap: wrap;
    font-family: "Comic Sans MS";

    button {
      flex-direction: row;
      font-size: 1.2em;
      align-items: flex-start;
      width: 100%;
      padding: 5px 0;
      margin: 0 !important;
    }
  }
}