$mainColorFirst: #ffefd5;
$mainColorSecond: #482f19;

.header {
  height: 50px;
  border-bottom: 2px solid $mainColorSecond;
  background-color: $mainColorFirst;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $mainColorSecond;
  padding: 5px 10px;

  p {
    font-size: 2em;
    font-family: "Comic Sans MS";
  }
}

button {
  color: $mainColorSecond !important;
}

.MuiButton-outlined {
  border: 1px solid $mainColorSecond !important;
  color: $mainColorFirst !important;
  background-color: $mainColorSecond !important;
}

.interface {
  button {
    margin: 0 10px;

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }
}